body {
  display: flex;
  justify-content: center;
  background-color: #DDDDDD;
  margin-top: 2rem;
}

.main-body {
  border: 2px solid #2F343A;
  background-color: #E3DFD7;
  border-radius: 1rem;
  height: 24vh;
  width: 38vw;
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

.ppic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.ppic img {
  max-height: 100%;
  max-width: 100%;
}

.detail {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  font-family: sans-serif;
  color: #2F343A;
}

.detail>h2 {
  font-size: 2.5vw;
  margin: 0.6rem 0rem;
}

.detail>h3 {
  font-size: 1.4vw;
  margin: 0.3rem 0rem;
}

.detail>h4 {
  font-size: 1.2vw;
  margin: 0.3rem 0rem;
}

.uppercase {
  text-transform: uppercase;
}